/* 
Name: Zerlina Lai
Date: 14 Apr 2023

This is additional CSS for the specific location pages for CP1 for CS132, Caltech Spring 2023.
Very basic, but clean, look, consistent across pages. 
Changes the header and has some additional rules for certain classes.
*/

body {
    margin:0%;

}

header {
    background-color: #e2e2e2;
    padding-top: 8%;
    padding-left: 4%;
    padding-right: 0%;
    padding-bottom: 4%;
}

img {
    width: 300px;
    border-radius: 50%;
    margin: 2%;
}

.food-descrip {
    padding: 4%;
    display: flex;
}

.food-descrip > p {
    margin: 5%;
}