
body {
    margin:0%;
    display: flex;
    flex-wrap: wrap;
}

header {
    padding: 8%;
    padding-left: 4%;
}

aside {
    width: 200%;
    padding: 4%;
}

p, h3 {
    font-family: "Montserrat", "Open Sans", sans-serif;
}

h3 {
    font-weight:bold;
}

img {
    width: 60%;
}

h1, h2, h4 {
    text-transform: uppercase;
    font-family: 'Fira Sans Condensed', sans-serif;
}

h1 {
    font-size: 4em;
    margin-bottom: 0%;
}

h4 {
    font-weight: lighter;
}

footer > p {
    padding: 6%;
    font-size: 0.8em;
}

footer, .location {
    text-align: center;
}

header, footer, .location {
    width: 100%;
}

header, footer {
    background-color: #e2e2e2;
}

.location-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 5%;
    margin: auto;
}

#sidebar-split {
    display: flex;
    flex-direction: row-reverse;
}