/* 
Name: Zerlina Lai
Date: 14 Apr 2023

This is the CSS for the pages for CP1 for CS132, Caltech Spring 2023.
Very basic, but clean, look, consistent across pages.
*/

body {
    margin:0%;
    flex-wrap: wrap;
}

header {
    padding: 8%;
    padding-left: 4%;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgb(255, 255, 255) 100%), url("pink-sky.jpg");
    background-size: 120%;
    color: black;
}

aside {
    width: 200%;
    padding: 4%;
}

a, .location-buttons h2{
    color: white;
    text-decoration: none;
}

p, h3 {
    font-family: "Montserrat", "Open Sans", sans-serif;
}

h3 {
    font-weight:bold;
}

img {
    width: 60%;
}

h1, h2, h4, button {
    text-transform: uppercase;
    font-family: 'Fira Sans Condensed', sans-serif;
}

button {
    padding: 5px;
    /* sunset pink */
    color: #FF7C74;
}

.hidden {
    display: none;
}

body, .location-buttons, #sidebar-split, #food-imgs {
    display: flex;
}

h1 {
    font-size: 4em;
    margin-bottom: 0%;
}

h4 {
    font-weight: lighter;
}

footer > p {
    padding: 6%;
    font-size: 0.8em;
}

footer, .location, #food-samples {
    text-align: center;
}

header, footer, .location {
    width: 100%;
}

footer {
    /* light gray */
    background-color: #e2e2e2;
}

hr {
    margin: 0px 30px 40px 30px;
}

h4 {
    font-size: 18pt;
    margin: 10px;
}

.location-buttons {
    flex-direction: row;
    padding: 5%;
    margin: auto;
}

.location-buttons, #food-imgs {
    justify-content: space-evenly;
}

.location-buttons h2 {
    padding: 20px;
    /*taupe purple-gray*/
    background-color: #7a7485;
    margin: 15px;
    border-style: double;
    border-color: white;
    border-width: 15px;
}

#sidebar-split {
    flex-direction: row-reverse;
}

#food-imgs {
    margin: 20px;
}

#food-imgs img {
    width: 20%;
    padding: 10px;
}